-- Script Date: 28/02/2014 00:50  - ErikEJ.SqlCeScripting version 3.5.2.37
-- Database information:
-- Locale Identifier: 1033
-- Encryption Mode: 
-- Case Sensitive: False
-- Database: C:\Users\Ashley\Documents\GitHub\SQLBackup\dat\SxSettings.sdf
-- ServerVersion: 4.0.8876.1
-- DatabaseSize: 64 KB
-- SpaceAvailable: 3.999 GB
-- Created: 28/02/2014 00:41

-- User Table information:
-- Number of tables: 1
-- TH_SETTINGS: 21 row(s)

CREATE TABLE [TH_SETTINGS] (
  [Id] int IDENTITY (22,1) NOT NULL
, [SET_NAME] nvarchar(100) NOT NULL
, [SET_VALUE] nvarchar(100) NULL
);
GO
SET IDENTITY_INSERT [TH_SETTINGS] ON;
GO
INSERT INTO [TH_SETTINGS] ([Id],[SET_NAME],[SET_VALUE]) VALUES (1,N'ServerName',NULL);
GO
INSERT INTO [TH_SETTINGS] ([Id],[SET_NAME],[SET_VALUE]) VALUES (2,N'DatabaseName',NULL);
GO
INSERT INTO [TH_SETTINGS] ([Id],[SET_NAME],[SET_VALUE]) VALUES (3,N'SqlUsername',NULL);
GO
SET IDENTITY_INSERT [TH_SETTINGS] OFF;
GO
ALTER TABLE [TH_SETTINGS] ADD CONSTRAINT [PK_TH_SETTINGS] PRIMARY KEY ([Id]);
GO

